.tabs-container {
  background-color: var(--elements-color);
  padding: 0.5em;
  border-radius: 20em;
  width: max-content;
  margin-block-start: 3rem;
  margin-block-end: 4rem;
  margin-inline: auto;
}

.tab-button {
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  padding-inline: clamp(1rem, 2vw, 2rem);
  padding-block: clamp(0.5rem, 1vw, 1rem);
  border-radius: 20em;
  color: var(--text-color);

  &.active {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
}
