#svg #circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: var(--accent-color);
  stroke-width: 0.2rem;
  stroke-linecap: round;
}

#cont {
  position: absolute;
  height: 100%;
  width: 100%;
}
