.open-settings-button {
  margin-block: 4rem;
  margin-inline: auto;
  background-color: transparent;
}

.submit-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 8.75rem;
  border-radius: 1.65rem;
  padding-block: 0.9rem;
  margin-block-end: -3rem;
  margin-inline: auto;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--white-color);
  border-radius: 1.5625rem;
  border: none;
  transform: translate(-50%, -50%);
  container-type: inline-size;
  container-name: dialog;
  width: clamp(20.4375rem, 40vw, 33.75rem);

  header {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    h2 {
      font-size: 1.75rem;
    }
  }

  hr {
    color: #e3e1e1;
    opacity: 0.1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.7rem;
  }
}

.color-section,
.font-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  font-size: 0.8125rem;
  margin: 0;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.inputs-container {
  display: flex;
  gap: 0.5rem;
}

input[type="radio"] {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="radio"]:focus {
  outline: none;
}

.radio-input-font {
  position: relative;
  background-color: var(--input-color);
}

.radio-input-font::after {
  position: relative;
  top: 0.5em;
  left: 0.5em;
  content: "Aa";
  font-family: var(--font-family);
}

.radio-input-font:checked {
  background-color: var(--elements-color);
  color: var(--white-color);
}

.radio-input-color {
  position: relative;
  background-color: var(--accent-color);
}

.radio-input-color:checked::after {
  position: absolute;
  top: 0.5em;
  left: 0.7em;
  content: "\2713";
}

.numeric-inputs-container {
  display: flex;
  flex-direction: column;
  padding-block-start: 1.7rem;
  gap: 2rem;
}

.numeric-input-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  color: hsla(235, 35%, 18%, 0.4);
  font-size: 0.75rem;
  text-align: start;
}

@container dialog (min-width: 30rem) {
  .numeric-inputs-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3rem;
  }
  .numeric-input-container {
    flex-direction: column;
  }
  .legend {
    text-align: start;
  }
  .color-section,
  .font-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
